<div id="post_about">
<h2><a href="/colophon">By Cecil Woebker</a></h2>
<div itemscope itemtype="http://data-vocabulary.org/Person" class="left">
<p>
My name is <span itemprop="name">Cecil Woebker</span>.
I am a high school <span itemprop="title">Student</span>.
I live in <span itemprop="address" itemscope
      itemtype="http://data-vocabulary.org/Address">
      <span itemprop="locality">Boston</span>,
      <span itemprop="region">MA</span>.
   </span>
</p>
<p>I'm a developer and designer. Follow me on <a href="http://twitter.com/cwoebker">Twitter</a>.</p>
<p>Feel free to ask me a question - <a href="mailto:me@cwoebker.com">me@cwoebker.com</a></p>
<div id="footerbar">
  <div class="social">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="cwoebker">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <a href="https://twitter.com/cwoebker" class="twitter-follow-button" data-show-count="false">Follow @cwoebker</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
</div>
<div class="right">
  <img src="http://www.gravatar.com/avatar/08f391968a5dcd91795e388f76f867f4?s=128" height="128" width="128" class="avatar">
</div>
</div>