<div class="post-about">
  <h2><a href="/about">By Cecil Woebker</a></h2>
  <div class="left" style="max-width: 570px;">
    <p>
    My name is Cecil Woebker. I am a German who spent the past 3 years living and studying in Boston, MA.
    Now I am a doing my Bachelor in Physics at the Technical University Munich (TUM).
    </p>
    <p>I do science during the day and develop or design at night.</p>
    <p>Feel free to follow me on Twitter or to email me a question.</p>
    <div id="footerbar">
      <div class="social">
        <a href="https://twitter.com/cwoebker" class="twitter-follow-button" data-show-count="false">Follow @cwoebker</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="cwoebker">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <a>&nbsp;</a>
        <a href="mailto:me@cwoebker.com">me@cwoebker.com</a>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="http://www.gravatar.com/avatar/08f391968a5dcd91795e388f76f867f4?s=128" height="128" width="128" class="avatar">
  </div>
</div>
