<!-- BEGIN DUCK DUCK GO KARMA WIDGET CODE //-->
<script type="text/javascript">
ddg_k_title='My Karma';
ddg_k_bold_karma='1';
ddg_k_link_karma='1';
ddg_k_link_label='0';
ddg_k_show_username='0';
ddg_k_show_service_name='0';
ddg_k_paren_karma='1';
ddg_k_vertical_spacing='5';
ddg_k_column_width='150';
ddg_k_padding='5';
ddg_k_font_size='9pt';
ddg_k_font_color='';
ddg_k_font_family='';
ddg_k_border='1px solid #AAA';
</script>
<div id="ddg_k" style="width:150px;font-size:9pt;border:1px solid #AAA;padding:5px;text-align:left;">-<div style="text-align: right; font-size: 80%; padding-top: 5px;">by <a style="display:inline;list-style-type:none;" href="http://duckduckgo.com/">DuckDuckGo</a></div></div>
<script type="text/javascript" src="http://karma.duckduckgo.com/k.js?t=1,F,5,D,6&u=cwoebker,cwoebker,cwoebker,815382,cwoebker"></script>
<!-- END DUCK DUCK GO KARMA WIDGET CODE //-->