html {height: 100%;}

body{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  min-width: 680px;
  position: relative;
  min-height: 100%;
}

.clear {clear: both;}

.left{
  float: left;
}

.right{
  float: right;
  padding-right: 100px;
}

.break {page-break-before: always;}

body div.content {padding-bottom: 120px;}
    body div.content pre {
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        font-size: 13px;
        line-height: 19px;
        overflow: auto;
        padding: 6px 10px;
        border-radius: 3px;
    }
    body div.content code {
        margin: 0 2px;
        padding: 0px 5px;
        border: 1px solid #eaeaea;
        background-color: #f8f8f8;
        border-radius: 3px;
    }
    body div.content pre > code {
        padding: 0;
        background-color: transparent;
        border: 0;
    }
    body div.content .has-jax {
        font: inherit;
        font-size: 100%;
        background: inherit;
        border: inherit;
    }
    body .gist {
        font-size: 12px;
    }

a{
  color: #227CE8;
}
a:hover{
  text-decoration: none;
}
p code, li code{
  background-color: #F9F9F9;
  border: 1px solid #eee;
  font-size: 12px;
  padding: 2px 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

hr{
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 2em 1em;
}

.content{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding-top: 40px;
  padding-bottom: 20px;
  z-index: 0;
}

.intro{
}

.intro p{
  margin-bottom: 27px;
}

#post_about{ overflow:hidden; }

.posts{
  padding-top: 0;
  font-family: "Helvetica", sans-serif;
}
.posts ul{
  margin: 0;
  padding: 0;
}
.posts li{
  font-size: 14px;
  list-style: none;
  padding: 5px 3px;
  margin: 0;
  color: #777;
  border-bottom: 1px solid #eee;
}
.posts li span{
  float: right;
}
.posts a{
  text-decoration: none;
}
.posts a:hover{
  text-decoration: underline;
}

h1,h2,h3,h4{
  color: #333;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
}
h1 a, h2 a, h3 a, h4 a{
  color: #111;
  text-decoration: none;
}
h1{
  font-size: 36px;
  margin-top: 18px;
  margin-bottom: .15em;
}
h2{
  font-size: 30px;
  margin-bottom: 15px;
}
h3{
  color: #777;
  font-size: 25px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.posts h2{
  border-bottom-width: 0;
  margin-bottom: 5px;
}

blockquote h1, blockquote h2, blockquote h3{
  border-bottom-width: 0;
}

/*
###########
### TOP ###
###########
*/

#custom-header {
	position: fixed;
	background-color: #EEE;
	top: 0;
	left: 0;
	right: 0;
	width: auto;
	height: 37px;
  z-index: 5;
}

#custom-header-underline {
	position: fixed;
	background-color: black;
	top: 37px;
	left: 0px;
	right: 0px;
	height: 3px;
	width: auto;
  z-index: 5;
}

#topbar{
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -185px;
  font-family: Helvetica, sans-serif;
  width: auto;
  padding: 3px 10px 0px 10px;
  height: 30px;
  line-height: 22px;
  z-index: 10;
}

#topbar .avatar{
  position: fixed;
  top: 4px;
  margin-left: -25px;
  height: 32px;
  width: 32px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px #ccc;
  opacity: .8;
}
#topbar .avatar:hover{
  opacity: 1;
}
#topbar a{
  text-decoration: none;
}
#topbar #me{
  text-transform: uppercase;
  margin: 10px 0 20px 0;
}

#topbar #me li{
	display: inline;
	padding-right: 10px;
}

#topbar #me #external {
	display: inline;
}

#topbar #me #external .icon {
    height: 16px;
    width: 16px;
}

#topbar #me #other {
  position: fixed;
  top: 9px;
  right: 220px;
}

#topbar #me #cwoebker{
  padding-left: 8px;
  padding-right: 20px;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000;
}

#topbar #me #cwoebker:hover {
  color: #000;
}

#topbar #me #internal{
  margin-left: -20px;
}

#topbar #me .section{
  margin: 25px 0 0 -15px;
  display: inline;
}

#topbar #me a.section{
  background-color: #000;
  padding: 3px 5px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

#topbar #me a.section:hover{
  color: #ccc;
}

#links {
  display: inline;
}

/*
############
### POST ###
############
*/

#post{
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.byline {
  margin-bottom: 17px;
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
  padding-left: 0px;
  font-size: 17px;
  color: #777;
}
}

#post ul{
  font-size: 15px;
  margin: 20px 20px 20px 0;
}
#post li{
  line-height: 1.4em;
  margin-bottom: 1em;
  color: #222;
  list-style-type: square;
}
#post li code{
  border: 1px solid #ccc;
}

#post p{
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 1.2em;
  line-height: 1.7em;
}

#post img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 610px;
  -webkit-border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px #555;
}

#post img.noclip{
  max-width: 650px !important;
  -webkit-box-shadow: none;
}

#post .aside{
  background-color: #eee;
  padding: 14px;
  font-size: 14px;
  margin: 5px 0 15px 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.6em;
}

#post .aside strong{
}

#post .authoring{
  margin-bottom: 17px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding-left: 0px;
  font-size: 17px;
  color: #777;
}

#post blockquote{
  font-style: italic;
  font-size: 14px;
  padding: .25em 1em;
  margin: 1em 1em 0 1em;
  color: #444;
}

#post blockquote cite:before{
  content: '— ';
}

#post blockquote cite{
  display: block;
  margin-top: .5em;
  text-align: right;
  color: #111;
  font-style: normal;
}

/*
############
### TAGS ###
############
*/

#post #tag {
  margin-bottom: 0;
}

.post_taglist li{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  font-size: 20px;
}

#post postamble {
  display: block;
  margin-bottom: 1em;
  color: #999;
}
postamble a:link, postamble a:active {
  color: #859FB3;
}
postamble a:visited {
  color: #A591AA;
}

a.tag {
    background: #41B7D8;
    transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0.1em 0.5em 0.25em;
    margin-bottom: 10px;
    margin-right: 10px;
    background: -moz-linear-gradient(top,rgba(233, 92, 51, 1) 0%,rgba(229, 59, 44, 1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(233, 92, 51, 1)),color-stop(100%,rgba(229, 59, 44, 1)));
    background: -webkit-linear-gradient(top,rgba(233, 92, 51, 1) 0%,rgba(229, 59, 44, 1) 100%);
    background: -o-linear-gradient(top,rgba(233, 92, 51, 1) 0%,rgba(229, 59, 44, 1) 100%);
    background: -ms-linear-gradient(top,rgba(233, 92, 51, 1) 0%,rgba(229, 59, 44, 1) 100%);
    background: linear-gradient(top,rgba(233, 92, 51, 1) 0%,rgba(229, 59, 44, 1) 100%);
    background-color: #E95C33;
}

/*
##############
### FOOTER ###
##############
*/

footer {
  width: 100%;
  position: absolute;
  text-align: center;
  padding-top: 20px;
  margin-top: 50px;
  padding-bottom: 20px;
  bottom: 0;
  left: 0;
}

footer hr {
  clear: both;
  margin: 10px 0 30px;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,
    rgba(0,0,0,0),
    rgba(0,0,0,0.05),
    rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left,
    rgba(0,0,0,0),
    rgba(0,0,0,0.05),
    rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,
    rgba(0,0,0,0),
    rgba(0,0,0,0.05),
    rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,
    rgba(0,0,0,0),
    rgba(0,0,0,0.05),
    rgba(0,0,0,0));
  background-color: #FFF;
}

footer[role="contentinfo"] {
  padding: 15px 0 0 0;
  font-size: 1em;
}

footer[role="contentinfo"] nav ul li a {
  text-decoration: none;
  color: #A19C91;
}

footer[role="contentinfo"] nav ul li {
  display: inline;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
  font-weight: bold;
  font-family: ff-milo-web-pro,Helvetica,Arial,sans-serif;
  border-right: 1px solid #ccc;
  font-size: 0.824em;
}

footer[role="contentinfo"] nav ul li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.copyright {
  letter-spacing: 2px;
  font-family: inherit;
  color: #A19C91;
  font-size: 0.824em;
  text-transform: uppercase;
}

  .copyright a {
    text-decoration: none;
    font-weight: bold;
    font-family: ff-milo-web-pro,Helvetica,Arial,sans-serif;
    color:
    #A19C91;
    text-transform: none;
    letter-spacing: 0;
  }

.footer{
  margin: 30px 0;
  padding: 10px 0;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.footer p{
  margin-top: 0px;
}
.footer img{
  position: relative;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: -60px;
  border-radius: 4px;
}
.footer .copy{
  padding-left: 60px;
}
.footer .twitter-follow-button{
  width: 75px !important;
}
