html {height: 100%;}

body{
  font-family: font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  /*-webkit-font-smoothing: antialiased;
  position: relative;
  min-height: 100%;*/
}

.clear {clear: both;}
.left{float: left;}
.right{float: right;}
.break {page-break-before: always;}

    body div.content pre {
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        font-size: 13px;
        line-height: 19px;
        overflow: auto;
        padding: 6px 10px;
        border-radius: 3px;
    }
    body div.content code {
        margin: 0 2px;
        padding: 0px 5px;
        border: 1px solid #eaeaea;
        background-color: #f8f8f8;
        border-radius: 3px;
    }
    body div.content pre > code {
        padding: 0;
        background-color: transparent;
        border: 0;
    }
    body div.content .has-jax {
        font: inherit;
        font-size: 100%;
        background: inherit;
        border: inherit;
        color: #333;
    }
    body .gist {
        font-size: 12px;
    }

.byline {
  margin-bottom: 17px;
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
  padding-left: 0px;
  font-size: 17px;
  color: #777;
}

.border-frame {
    display:block;
    margin-left:auto;
    margin-right:auto;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px #555;
}

a{
  color: #227CE8;
}
a:hover{
  text-decoration: none;
}
p code, li code{
  background-color: #F9F9F9;
  border: 1px solid #eee;
  font-size: 12px;
  padding: 2px 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

hr{
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 2em 1em;
}

hr { /* old footer stuff */
  clear: both;
  margin: 10px 0 30px;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,
    rgba(0,0,0,0),
    rgba(0,0,0,0.05),
    rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left,
    rgba(0,0,0,0),
    rgba(0,0,0,0.05),
    rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,
    rgba(0,0,0,0),
    rgba(0,0,0,0.05),
    rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,
    rgba(0,0,0,0),
    rgba(0,0,0,0.05),
    rgba(0,0,0,0));
  background-color: #FFF;
}

.content{
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: auto;
  max-width: 800px;
  z-index: 0;
}

h1,h2,h3,h4{
  color: #333;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
}
h1 a, h2 a, h3 a, h4 a{
  color: #111;
  text-decoration: none;
}
h1{
  font-size: 36px;
  margin-top: 18px;
  margin-bottom: .15em;
}
h2{
  font-size: 30px;
  margin-bottom: 15px;
}
h3{
  color: #777;
  font-size: 25px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

blockquote h1, blockquote h2, blockquote h3{
  border-bottom-width: 0;
}


/*
#############
### INDEX ###
#############
*/

.posts ul{
  margin: 0;
  padding: 0;
}
.posts li{
  font-size: 16px;
  list-style: none;
  padding: 5px 3px;
  margin: 0;
  color: #777;
  /*border-bottom: 1px solid #eee;*/
}
.posts li span{
  float: right;
  font-size: 14px;
}
.posts a{
  text-decoration: none;
}
.posts a:hover{
  text-decoration: underline;
}

.posts h2{
  border-bottom-width: 0;
  margin-bottom: 5px;
}

/*
###########
### TOP ###
###########
*/

.custom-header {
	background-color: #EEE;
	height: 40px;
    border-bottom: 3px solid black;
    z-index: 5;
}

.custom-header-underline {
    display: none;
	background-color: black;
	height: 3px;
    z-index: 5;
}

#topbar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -35px;
  width: 320px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 22px;
  z-index: 10;
}

#topbar .avatar{
  margin-top: -4px;
  margin-left: -25px;
}

.avatar{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px #ccc;
  -moz-box-shadow: 0px 0px 15px #ccc;
  box-shadow: 0px 0px 15px #ccc;
  opacity: .8;
}

#topbar .avatar:hover{
  opacity: 1;
}
#topbar a{
  text-decoration: none;
}
#topbar #me{
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 10px 0px;
}

#topbar #me li{
	display: inline;
	padding-right: 10px;
}

.icon img {
  height: 18px;
  margin-top: -10px;
  padding-right: 8px;
}

#topbar #me .cwoebker{
  padding-left: 8px;
  padding-right: 20px;
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #000;
}

#topbar #me .cwoebker:hover {
  color: #000;
}

.cwoebker span {
    margin-left: 10px;
}

.internal {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -7px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  z-index: 5;
}

.internal ul li {
  display: inline;
  margin-right: -5px;
}

.internal a.section{
  text-transform: uppercase;
  background-color: #000;
  padding: 3px 5px;
  color: #fff;
  font-weight: normal;
  font-size: 17px;
}

.internal a.section:hover{
  background-color: #000;
  color: #ccc;
}

.hero {
    margin-top: -33px;
    margin-bottom: 20px;
    background-color: rgb(66, 66, 66);
    background-size: cover;
    height: 210px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9) inset;
}

/*
############
### POST ###
############
*/

.post{
  font-size: 16px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.post-about{
    overflow:hidden;
    padding-bottom: 20px;
}

.post li{
  padding: 7px 5px;
  color: #222;
}

.post li code{
  border: 1px solid #ccc;
}

.post p{
  margin: 0 0 10px;
}

.post img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  width: auto;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0px 0px 5px #555;
  -moz-box-shadow: 0px 0px 5px #555;
  -webkit-box-shadow: 0px 0px 5px #555;
}

.post img.noclip{
  max-width: 650px !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.post .aside{
  background-color: #eee;
  padding: 14px;
  font-size: 14px;
  margin: 5px 0 15px 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.6em;
}

.post .authoring{
  margin-bottom: 17px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding-left: 0px;
  font-size: 17px;
  color: #777;
}

.post blockquote{
  font-style: italic;
  font-size: 14px;
  padding: .25em 1em;
  margin: 1em 1em 0 1em;
  color: #444;
}

.post blockquote cite:before{
  content: '— ';
}

.post blockquote cite{
  display: block;
  margin-top: .5em;
  text-align: right;
  color: #111;
  font-style: normal;
}

/*
###############
### Grid Projects ###
###############
*/

div.item h2 {
    margin-bottom: -54px;
}

div.item .img-circle {
    margin-top: 70px;
    margin-bottom: 5px;
    width: 140px;
    height: 140px;
}

div.item img {
    border-radius: 38px;
    -moz-border-radius: 38px;
    -webkit-border-radius: 38px;
}

/*
###############
### ADSENSE ###
###############
*/

#sidebar_ad {
  position: fixed;
  top: 80px;
  left: 20px;
  /*margin-left: -185px;
  font-family: Helvetica, sans-serif;
  width: auto;
  padding: 3px 10px 0px 10px;
  height: 30px;
  line-height: 22px;*/
  z-index: 10;
}

/*
############
### TAGS ###
############
*/

.tag {
  text-align: center;
}

.tag h1 {
  border-bottom: none;
}

.tag li.tag_post {
  list-style-type: none;
  margin-bottom: 0;
}

.post-taglist li{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  font-size: 20px;
}

.post postamble {
  display: block;
  margin-bottom: 1em;
  color: #999;
}
postamble a:link, postamble a:active {
  color: #859FB3;
}
postamble a:visited {
  color: #A591AA;
}

a.tag {
    background: #41B7D8;
    transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    /*-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;*/
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0.1em 0.5em 0.25em;
    margin-bottom: 10px;
    margin-right: 10px;
    background: -moz-linear-gradient(top,rgba(233, 92, 51, 1) 0%,rgba(229, 59, 44, 1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(233, 92, 51, 1)),color-stop(100%,rgba(229, 59, 44, 1)));
    background: -webkit-linear-gradient(top,rgba(233, 92, 51, 1) 0%,rgba(229, 59, 44, 1) 100%);
    background: -o-linear-gradient(top,rgba(233, 92, 51, 1) 0%,rgba(229, 59, 44, 1) 100%);
    background: -ms-linear-gradient(top,rgba(233, 92, 51, 1) 0%,rgba(229, 59, 44, 1) 100%);
    background: linear-gradient(top,rgba(233, 92, 51, 1) 0%,rgba(229, 59, 44, 1) 100%);
    background-color: #E95C33;
}

/*
##############
### FOOTER ###
##############
*/

footer {
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
}

footer[role="contentinfo"] {
  padding: 15px 0 0 0;
  font-size: 1em;
}

footer[role="contentinfo"] nav ul li a {
  text-decoration: none;
  color: #A19C91;
}

footer[role="contentinfo"] nav ul li {
  display: inline;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
  font-weight: bold;
  font-family: ff-milo-web-pro,Helvetica,Arial,sans-serif;
  border-right: 1px solid #ccc;
  font-size: 0.824em;
}

footer[role="contentinfo"] nav ul li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.copyright {
  letter-spacing: 2px;
  font-family: inherit;
  color: #A19C91;
  font-size: 0.824em;
  text-transform: uppercase;
}

  .copyright a {
    text-decoration: none;
    font-weight: bold;
    font-family: ff-milo-web-pro,Helvetica,Arial,sans-serif;
    color:
    #A19C91;
    text-transform: none;
    letter-spacing: 0;
  }

.footer{
  margin: 30px 0;
  padding: 10px 0;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.footer p{
  margin-top: 0px;
}
.footer img{
  position: relative;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: -60px;
  border-radius: 4px;
}
.footer .copy{
  padding-left: 60px;
}
.footer .twitter-follow-button{
  width: 75px !important;
}

/*
##############
### Mobile ###
##############
*/

@media (max-width: 767px) {

  #sidebar_ad {
    display: none;
  }

  nav.navbar {
      margin-bottom: 10px;
      height: 0px;
  }

  nav.navbar-default {

  }

  .navbar-header {
    background-color: #EEE;
    background-image: none;
    border-bottom: 3px solid rgb(14, 14, 14);
    border-radius: 0;
  }

  .navbar-header .nav-collapse {
    margin-bottom: -10px;
    margin-left: -1px;
  }

  .nav-collapse ul.nav {
    text-align: center;
  }

  .nav-collapse ul.nav li {
    display: inline-block;
    padding: 5px;
    margin-right: -5px;
    background-color: rgb(0, 0, 0);
  }

  .nav-collapse ul.nav li a.section {
      padding: 3px 5px;
      color: rgb(255, 255, 255);
      font-size: 18px;
      font-weight: bold;
      font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
  }

  .navbar .navbar-toggle {
      color: rgb(14, 14, 14);
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
      /*background-color: rgb(14, 14, 14);*/
      background-image: linear-gradient(to bottom, rgb(21, 21, 21), rgb(4, 4, 4));
      background-image:-webkit-linear-gradient(to bottom, rgb(21, 21, 21), rgb(4, 4, 4));
      background-image:-moz-linear-gradient(to bottom, rgb(21, 21, 21), rgb(4, 4, 4));
      background-image: none !important;
      background-repeat: repeat-x;
      background-color: black !important;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      border-radius: 2px;
  }

  .navbar .brand {
    padding-right: 0;
  }

  ul.brand-icons {
      margin-top: 20px;
  }

  ul.brand-icons li {
      display: inline;
  }

  .logo {
      height: 20px;
  }

  img.avatar {
      margin-top: -12px;
  }

  .name {
    padding-left: 8px;
    padding-right: 0px;
    font-size: 28px;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
  }

  .navbar .nav > li > a.icon {
    padding-right: 5px;
    padding-left: 5px;
  }

}

/*
###################
### Small Phone ###
###################
*/

@media (max-width: 480px) {

  .date {
    display: none;
  }

}
