<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="cwoebker" />
  <meta name="description" content="cwoebker's blog - insights on technology and science" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="http://feeds.feedburner.com/cwoebker" rel="alternate" title="cwoebker" type="application/rss+xml" />

<!-- My Section -->

  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css"/>
  <link rel="stylesheet" href="/assets/css/styles.min.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/assets/css/syntax.min.css" type="text/css" />

<!-- Google Section -->

  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23542754-3']);
    _gaq.push(['_setDomainName', '.cwoebker.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

<nav class="navbar navbar-default visible-xs" role="navigation">    <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
    <div class="container-fluid">
      <div class="navbar">
        <div class="navbar-header">
          <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo" href="/"><img src="http://www.gravatar.com/avatar/08f391968a5dcd91795e388f76f867f4?s=28" class="avatar"><span class="name">c<b>woebker</b></span></a>
          <ul class="brand-icons">
            <li><a href="https://github.com/cwoebker" class="icon">
                <img src="/assets/images/github.png" alt="github" title="cwoebker on GitHub" /></a></li>
            <li><a href="https://twitter.com/cwoebker" class="icon">
                <img src="/assets/images/twitter.png" alt="twitter" title="@cwoebker on Twitter" /></a></li>
            <li><a href="feed://feeds.feedburner.com/cwoebker" class="icon">
                <img src="/assets/images/rss.png" alt="rss" title="Subscribe to this blog's RSS feed" /></a></li>
          </ul>
          <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
          <div class="navbar-collapse nav-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a class="section" href="/about">about</a></li>
              <li><a class="section" href="/projects">projects</a></li>
              <li><a class="section" href="/numb3rs">numb3rs</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!-- /.navbar-inner -->
      </div><!-- /.navbar -->

    </div> <!-- /.container -->
</nav><!-- /.navbar-wrapper -->

<div class="hidden-xs">
<div class="custom-header"></div>
<div class="custom-header-underline"></div>
<div id="topbar">
  <ul id="me">
    <li><a class="cwoebker" href="/">
        <img src="http://www.gravatar.com/avatar/08f391968a5dcd91795e388f76f867f4?s=32" class="avatar"><span>c<b>woebker</b></span>
    </a></li>
    <li><a href="https://github.com/cwoebker" class="icon">
      <img src="/assets/images/github.png" alt="github" title="cwoebker on GitHub" />
    </a></li>
    <li><a href="https://twitter.com/cwoebker" class="icon">
      <img src="/assets/images/twitter.png" alt="twitter" title="@cwoebker on Twitter" />
    </a></li>
    <li><a href="feed://feeds.feedburner.com/cwoebker" class="icon">
      <img src="/assets/images/rss.png" alt="rss" title="Subscribe to this blog's RSS feed" />
    </a></li>
  </ul>
</div>
<div class="internal">
  <ul>
    <li><a class="section" href="/about">about</a></li>
    <li><a class="section" href="/projects">projects</a></li>
    <li><a class="section" href="/numb3rs">numb3rs</a></li>
  </ul>
</div>
{% if page.hero %}
<div class="hero" style="background-image: url({{ page.hero }});"></div>
{% endif %}
</div>

{{ content }}

<footer role="contentinfo" class="sixteen columns">
  <hr>
  <nav role="navigation">
    <ul>
      <li><a href="/">Homepage</a></li>
      <li><a href="http://twitter.com/cwoebker">Twitter</a></li>
      <li><a href="http://github.com/cwoebker">Github</a></li>
      <li><a href="feed://feeds.feedburner.com/cwoebker">RSS</a></li>
      <li><a href="mailto:me@cwoebker.com">Contact</a></li>
    </ul>
  </nav>
  <span class="copyright">Copyright © 2014 <a rel="author" href="http://cwoebker.com/colophon" title="Cecil Woebker">Cecil Woebker</a></span>
</footer>


</body>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- MathJax Section -->
<script type="text/javascript"
 src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script>
  MathJax.Hub.Config({
    tex2jax: {
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
    }
  });
  MathJax.Hub.Queue(function() {
      var all = MathJax.Hub.getAllJax(), i;
      for(i=0; i < all.length; i += 1) {
          all[i].SourceElement().parentNode.className += ' has-jax';
      }
  });
</script>
</html>
