---
layout: default
external: [flexnav]
---

<div class="content">
  <div id="post">
    <h1>
	  <a href="{{ page.url }}">{{ page.title }}</a>
    </h1>
    <br />
    <div class="body">
      {{ content }}
    </div>
    <br />
    <postamble datetime="{{ post.date | date: "%Y-%m%d" }} ">
	  -- {{ page.date | date: "%b %d, %Y" }}
    </postamble>
    <h4>Tags:</h4>
    <ul id="post_tags">
    {% for tag in page.tags %}
      <li><a href="/tag/{{ tag }}">{{ tag }}</a></li>
    {% endfor %}
    </ul>
    <h2><a href="/about">About</a></h2>
    {% include about.html %}
    <br />
    {% include disqus.html %}
  </div>
</div>
